
body{
    display: flex;
    justify-content: center;
}
.wrapper{
    max-width: 1300px;
    width: 100%;
    border-radius: 17px;
   
}

.wrapper .carousel{
    /* display: flex; */
    display: grid;
    grid-auto-flow: column;
    /* grid-auto-columns: calc((100%) - 12px); */
    /* justify-content: center; */
    gap: 15px;
    border-radius: 17px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
    opacity: 1;
    
}
/* .carousel :where(.reviewcard , .reviewimg){
    display: flex;
    align-items: center;
    justify-content: center;
    
} */
.carousel .reviewcard{
    scroll-snap-align: start;
    height: 350px;
    list-style: none;
    background: linear-gradient(45deg, rgb(197, 197, 197)1% ,white 20%,white 82%, rgb(197, 197,197)  100%);
    border: 2px solid black;
    box-shadow: 0 8px 15px black;
    border-radius: 17px;
    cursor: grab;
    user-select: none;
    width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.reviewcard h1{
    margin: 8px 0;
}

.rating img{
    width: 30px;
    height: 30px;
}
.reviewcontent{
    width: 1000px;
    margin-top: 12px;
    text-align: center;
    font-size: 24px;
}
.reviewcard .reviewimg{
    width: 84px;
    height: 84px;
    border-radius: 50%;
    background-color: aqua;
    overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
margin-top: 15px;
}
.reviewcard .reviewimg img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    background: #000;
    border: 2px solid white;
}