/.vscode
/Music Player
/animation.html
/ball_animation.html
/card slideshow 3d
/card.css
/card.html
/dhoni.png
/ex1.html
/ex2.html
/hecker terminal
/index.html
/navbar.html
/navbar2.html
/practice.html
/prime video
/script.js
/slider
/style.css
/web.html